<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--Ottimizzazione per il cellulare-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Sito</title>

    <!-- CSS -->
    <link href="css/index.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
<h1>Contact us</h1>
<form id="contact-form">
    <label for="who">Chi</label>
    <input type="text" name="who" value="<%= qs.person %>">
    <label for="department">Dipartimento</label>
    <input type="text" name="department" value="<%= qs.dept %>">
    <label for="email">Tua email</label>
    <input type="email" name="who"/>
    <input type="submit" value="submit" />
</form>
</body>
</html>