@font-face {
    font-family: 'Monster Friend Fore';
    src: local('MonsterFriendFore'), url(./components/fonts/MonsterFriendFore.otf) format('truetype');
}

@font-face {
    font-family: 'Dogica Pixel';
    src: local('dogicapixel'), url(./components/fonts/Dogicapixel/dogicapixel.ttf) format('truetype');
}

@font-face {
    font-family: 'Dogica Pixel Bold';
    src: local('dogicapixelbold'), url(./components/fonts/Dogicapixel/dogicapixelbold.ttf) format('truetype');
}
