@font-face {
    font-family: 'Monster Friend Fore';
    src: local('MonsterFriendFore'), url(./components/fonts/MonsterFriendFore.otf) format('truetype');
}

@font-face {
    font-family: 'Nishuki Pixels';
    src: local('nishuki_pixels'), url(./components/fonts/nishuki_pixels.ttf) format('truetype');
}
